
.Board {
  width: 100%;
  height: 94vh;
  /* background-color: var(--color-board); */
	background-color: antiquewhite;
	color: var(--color-secText);
}

.boardHeader {
	width: 100%;
	height: 4vh;
	background-color: aquamarine;
}

.boardMain {
	width: 100%;
	height: 80vh;
	background-color: blueviolet;
}

.boardFooter{
	width: 100%;
	height: 10vh;
	background-color: aqua;
}
