
.ColumnForm {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;

}

.ColumnForm input {
    width: 40%;
    height: 60%;
}

.ColumnForm button {
    height: 60%;
    margin-left: 20px;
}
